<%= form_with(model: boardgame, local: true) do |form| %>
  <% if boardgame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(boardgame.errors.count, "error") %> prohibited this boardgame from being saved:</h2>

      <ul>
        <% boardgame.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :rules %>
    <%= form.text_area :rules %>
  </div>

  <div class="field">
    <%= form.label :rulebook, 'Upload rulebook as pdf' %>
    <%= form.file_field :rulebook %>
  </div>

  <div class="field">
    <%= form.label :boardimage, "Add photo of the game's box"%>
    <%= form.file_field :boardimage %>
  </div>

  <div class="field">
    <%= form.label :boardgameparts, 'Add other photos of the game' %>
    <%= form.file_field :boardgameparts, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
